name: Rust

on:
  push:
    branches: [ main ]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: cargo-build-${{ hashFiles('**/Cargo.lock') }}

      - run: cargo build --manifest-path ./src-tauri/Cargo.toml --verbose

      - run: cargo test --manifest-path ./src-tauri/Cargo.toml --verbose